.trade-point {
    fill: green;
}
.line {
    fill: none;
    stroke-width: 3px;
    stroke: green;
}
.tick {
    stroke: black;
}

.lineChart {
  background: #fff;
}

.x-axis text {
  font-size: 16px;
}

.y-axis text {
  font-size: 16px;
}